html {
    scroll-behavior: smooth;
}

/* HEADER */

#header {
    background-color: #FFFFFF;
    min-height: 120px;
    height: auto;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 30px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #d9534f;
    font-weight: bold;
    margin-right: 20px;
}
a:hover {
    text-decoration: none;
    color: #000000;
}
.btn {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.cart {
    height: 35px;
}
.glyphicon-shopping-cart {
    margin: 3px auto;
}
#site-search {
    border: #d9534f 2px solid;
    border-radius: 5px;
    margin-top: 35px;
}
#searchBtn {
    height: 25px;
    background-color: #d9534f;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
}
.nouveautes {
    background-color: #000000;
    height: 200px;
}




/* NOUVEAUTES */

.nouveautes {
    min-height: 350px;
    height: auto;
    background-color: #000000;
    background-image: url(img/cd.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color: #FFFFFF;
    font-size: 3.7rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top: 120px;
    text-shadow: 2px 2px 3px #000000;
}



/* SLIDER */
#slider {
    padding-left: 23%;
}
.slide_inside {
    margin-top: 20px;
}


/* PRODUITS */

.separateur {
    height: 2px;
    background-color: #d9534f;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: -1px -1px 3px gray;
    margin-bottom: 30px;
    margin-top: 30px;
}
.produits {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #000000;
    min-height: 500px;
    height: auto;
}
.categorie {
    text-align: center;
    font-weight: bold;
}
.titre {
    text-align: center;
    color: #d9534f;
    font-weight: bold;
    font-size: 1.7rem;
}
.prix {
    text-align: center;
    font-weight: bold;
}
.addToCart {
    text-align: center;
    float: left;
    position: relative;
    left: 50px;
    margin-bottom: 20px
}




/* ABOUT */

#textAbout {
    border: 2px solid #d9534f;
    background-color: #d9534f;
    min-height: 500px;
    height: auto;
    margin-bottom: 50px;
}
#imageAbout {
    background-image: url(img/about.jpg);
    min-height: 500px;
}
.about {
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #000000;
    line-height: 22px;
}




/* FOOTER */
#newsletter {
    width: 265px;
}
#btnNewsletter {
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    height: 25px;
}
#footer img {
    padding-right: 27px;
}
#mentions {
    background-color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
}
#mentions h2 {
    color: #FFFFFF;
    margin-bottom: 80px;
}
#mentions p {
    color: #FFFFFF;
    font-size: 1rem;
}